<a href="https://colab.research.google.com/github/newjoseph/DL/blob/main/DataControl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# practice to change the data type using Iris data
# classification example 

#import library

import pandas as pd
import tensorflow as tf

path = "https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv"

iris = pd.read_csv(path)
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [4]:
# one-hot encoding

encoding = pd.get_dummies(iris)
encoding.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [5]:
# check the data type of iris

print(iris.dtypes)

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [6]:
# here the data type of variety(품종) is not categorical data nor ojbect but int
# so the one-hot encoding does not work here  


# change the data type from int to category

iris["품종"]=iris["품종"].astype('category')
print(iris.dtypes)

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [7]:
# one-hot encoding

encoding = pd.get_dummies(iris)
encoding.head()

# now one-hot encoding works.

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

In [9]:
# check NA values

iris.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [10]:
iris.tail()

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [11]:
# either delete the last row or put the value in the last one.

mean = iris["꽃잎폭"].mean()
mean

3.0543624161073835

In [15]:
# fill the NA value with mean value

iris["꽃잎폭"] = iris["꽃잎폭"].fillna(mean)
iris.tail()

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2