In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
(ind, de), _ = tf.keras.datasets.cifar10.load_data()
print(ind.shape, de.shape)

Downloading data from https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz
170500096/170498071 [==============================] - 11s 0us/step
(50000, 32, 32, 3) (50000, 1)

In [3]:
de = pd.get_dummies(de.reshape(50000))
print(ind.shape, de.shape)

(50000, 32, 32, 3) (50000, 10)

In [6]:
X = tf.keras.layers.Input(shape=[32, 32, 3])

H = tf.keras.layers.Conv2D(6, kernel_size= 5, activation= "swish")(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(16, kernel_size= 5, activation= "swish")(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)

H = tf.keras.layers.Dense(120, activation= "swish")(H)
H = tf.keras.layers.Dense(84, activation= "swish")(H)

Y = tf.keras.layers.Dense(10, activation= "softmax")(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss= "categorical_crossentropy", metrics= "accuracy")

In [7]:
model.fit(ind, de, epochs= 10)

Epoch 1/10
1563/1563 [==============================] - 12s 3ms/step - loss: 3.6421 - accuracy: 0.2271
Epoch 2/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.6089 - accuracy: 0.4202
Epoch 3/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.4895 - accuracy: 0.4697
Epoch 4/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.4125 - accuracy: 0.5006
Epoch 5/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.3735 - accuracy: 0.5158
Epoch 6/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.3397 - accuracy: 0.5338
Epoch 7/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.3266 - accuracy: 0.5390
Epoch 8/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.3063 - accuracy: 0.5490
Epoch 9/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.2850 - accuracy: 0.5556
Epoch 10/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.2872 - accuracy: 0.5542

In [8]:
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 32, 32, 3)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 28, 28, 6)         456
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten (Flatten)            (None, 400)               0
_________________________________________________________________
dense_3 (Dense)              (None, 120)               48120
_________________________________________________________________
dense_4 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_5 (Dense)              (None, 10)                850
=================================================================
Total params: 62,006
Trainable params: 62,006
Non-trainable params: 0
_________________________________________________________________

In [9]:
pred = model.predict(ind[0:5])
pd.DataFrame(pred).round(2)

      0     1     2     3     4     5     6     7     8     9
0  0.03  0.04  0.07  0.23  0.05  0.13  0.36  0.05  0.02  0.03
1  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  1.00
2  0.07  0.02  0.10  0.25  0.06  0.18  0.07  0.13  0.06  0.05
3  0.03  0.01  0.06  0.14  0.45  0.13  0.07  0.08  0.01  0.03
4  0.00  1.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00

In [10]:
de[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  1  0  0  0
1  0  0  0  0  0  0  0  0  0  1
2  0  0  0  0  0  0  0  0  0  1
3  0  0  0  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0