In [1]:
# convolution practice

# import library
import tensorflow as tf
import pandas as pd

In [2]:
# prepare data

(ind, de), _ = tf.keras.datasets.mnist.load_data()
print(ind.shape, de.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)

In [4]:
#reshape

ind = ind.reshape(60000, 28, 28, 1)

#one-hot encoding
de = pd.get_dummies(de)

print(ind.shape, de.shape)

(60000, 28, 28, 1) (60000, 10)

In [8]:
# make a model structure

X = tf.keras.layers.Input(shape = [28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size= 5, activation= "swish")(X) # how many filters I need to use, what size of filter I use.
H = tf.keras.layers.Conv2D(6, kernel_size= 5, activation= "swish")(X)
H = tf.keras.layers.Flatten()(H) # make a table

H = tf.keras.layers.Dense(84, activation="swish")(H)
Y = tf.keras.layers.Dense(10, activation="softmax")(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss= "categorical_crossentropy", metrics= "accuracy")

In [9]:
# fit the model

model.fit(ind, de, epochs= 10)

Epoch 1/10
1875/1875 [==============================] - 12s 2ms/step - loss: 3.7838 - accuracy: 0.8516
Epoch 2/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.1081 - accuracy: 0.9715
Epoch 3/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0755 - accuracy: 0.9798
Epoch 4/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0591 - accuracy: 0.9848
Epoch 5/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0450 - accuracy: 0.9874
Epoch 6/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0422 - accuracy: 0.9894
Epoch 7/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0381 - accuracy: 0.9899
Epoch 8/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0365 - accuracy: 0.9907
Epoch 9/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0401 - accuracy: 0.9906
Epoch 10/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0335 - accuracy: 0.9920

In [11]:
# utilize the model

pred = model.predict(ind[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [13]:
de[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [14]:
model.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 24, 24, 6)         156
_________________________________________________________________
flatten_3 (Flatten)          (None, 3456)              0
_________________________________________________________________
dense_5 (Dense)              (None, 84)                290388
_________________________________________________________________
dense_6 (Dense)              (None, 10)                850
=================================================================
Total params: 291,394
Trainable params: 291,394
Non-trainable params: 0
_________________________________________________________________