In [2]:
import tensorflow as tf
import pandas as pd

# prepare the data

(ind, de), _ = tf.keras.datasets.mnist.load_data()
de = pd.get_dummies(de)

print(ind.shape, de.shape)

(60000, 28, 28) (60000, 10)

In [6]:
# make a model

X = tf.keras.layers.Input(shape=[28, 28])
H = tf.keras.layers.Flatten()(X) # flatten the given data
H = tf.keras.layers.Dense(84, activation= "swish")(H)
Y = tf.keras.layers.Dense(10, activation="softmax")(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss = "categorical_crossentropy", metrics = "accuracy")

In [8]:
# fit the model

model.fit(ind, de, epochs = 10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 7.7901 - accuracy: 0.8126
Epoch 2/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.5769 - accuracy: 0.9122
Epoch 3/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4909 - accuracy: 0.9270
Epoch 4/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4445 - accuracy: 0.9347
Epoch 5/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4026 - accuracy: 0.9423
Epoch 6/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3999 - accuracy: 0.9419
Epoch 7/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3520 - accuracy: 0.9494
Epoch 8/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3705 - accuracy: 0.9503
Epoch 9/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3353 - accuracy: 0.9558
Epoch 10/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3339 - accuracy: 0.9554

In [9]:
# utilize the model

pred = model.predict(ind[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [10]:
de[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1