In [3]:
import tensorflow as tf
import pandas as pd

# data preparing
(ind, de), _ = tf.keras.datasets.mnist.load_data()
ind = ind.reshape(60000, 28, 28, 1)
de = pd.get_dummies(de)

print(ind.shape, de.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28, 1) (60000, 10)

In [4]:

X = tf.keras.layers.Input(shape= [28, 28, 1])

# padding = 'same'  : the size of feature maps are the same as the input size 
H = tf.keras.layers.Conv2D(6, kernel_size= 5, padding= "same", activation= "swish")(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(16, kernel_size= 5, activation="swish")(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation= "swish")(H)
H = tf.keras.layers.Dense(84, activation= "swish")(H)
Y = tf.keras.layers.Dense(10, activation= "softmax")(H)

model = tf.keras.models.Model(X,Y)
model.compile(loss= "categorical_crossentropy", metrics= "accuracy")

In [5]:
model.fit(ind, de, epochs= 10)

Epoch 1/10
1875/1875 [==============================] - 14s 3ms/step - loss: 0.8620 - accuracy: 0.8618
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0818 - accuracy: 0.9775
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0641 - accuracy: 0.9820
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0528 - accuracy: 0.9865
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0542 - accuracy: 0.9860
Epoch 6/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0531 - accuracy: 0.9878
Epoch 7/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0548 - accuracy: 0.9876
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0551 - accuracy: 0.9885
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0682 - accuracy: 0.9864
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0626 - accuracy: 0.9877

In [7]:
pred = model.predict(ind[0:10])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
5  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
8  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0

In [8]:
de[0:10]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1
5  0  0  1  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  0  1  0  0  0  0  0  0
8  0  1  0  0  0  0  0  0  0  0
9  0  0  0  0  1  0  0  0  0  0