In [4]:
# reshape version

import tensorflow as tf
import pandas as pd

# prepare the data set
(ind, de), _ = tf.keras.datasets.mnist.load_data()
ind = ind.reshape(60000, 784)
de = pd.get_dummies(de)

print(ind.shape, de.shape)

# make a model structure

X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X,Y)
model.compile(loss = 'categorical_crossentropy',metrics='accuracy')

# fit the model
model.fit(ind, de, epochs = 20)

# utilize the model


pred = model.predict(ind[0:5])
pd.DataFrame(pred).round(2) 

#print("model prediction: ", model.predict(ind[0:5]))

(60000, 784) (60000, 10)
Epoch 1/20
1875/1875 [==============================] - 4s 2ms/step - loss: 6.8304 - accuracy: 0.7890
Epoch 2/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5508 - accuracy: 0.9075
Epoch 3/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4449 - accuracy: 0.9303
Epoch 4/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4483 - accuracy: 0.9340
Epoch 5/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3772 - accuracy: 0.9406
Epoch 6/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3797 - accuracy: 0.9428
Epoch 7/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3747 - accuracy: 0.9455
Epoch 8/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3678 - accuracy: 0.9501
Epoch 9/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3437 - accuracy: 0.9518
Epoch 10/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3717 - accuracy: 0.9522
Epoch 11/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3365 - accuracy: 0.9520
Epoch 12/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3390 - accuracy: 0.9542
Epoch 13/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3259 - accuracy: 0.9556
Epoch 14/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3210 - accuracy: 0.9557
Epoch 15/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3296 - accuracy: 0.9566
Epoch 16/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3022 - accuracy: 0.9555
Epoch 17/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.2842 - accuracy: 0.9609
Epoch 18/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3029 - accuracy: 0.9587
Epoch 19/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.2933 - accuracy: 0.9566
Epoch 20/20
1875/1875 [==============================] - 4s 2ms/step - loss: 0.2851 - accuracy: 0.9605

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [6]:
de[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1